In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
from sklearn.datasets import load_boston

In [6]:
boston = load_boston()

In [7]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [47]:
data = boston['data']

In [95]:
f_names = boston['feature_names']
target = boston['target']

In [63]:
X = pd.DataFrame(data,columns=f_names)
X

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [65]:
y = pd.DataFrame(target, columns=['cost'])
y

     cost
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
..    ...
501  22.4
502  20.6
503  23.9
504  22.0
505  11.9

[506 rows x 1 columns]

In [61]:
from sklearn.model_selection import train_test_split

In [67]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 42)

In [68]:
from sklearn.linear_model import LinearRegression

In [71]:
lr = LinearRegression()

In [72]:
lr.fit(X_train, y_train)

LinearRegression()

In [84]:
y_pred = lr.predict(X_test)
y_pred.shape

(152, 1)

In [92]:
check_test = pd.DataFrame({
    "y_test": y_test["cost"],
    "y_pred": y_pred.flatten(),
}) #не пойму почему lr.predict(X_test), а в check_test используется y_test. Где описано, что target это именно цена?

In [93]:
check_test.head(20)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433
218    21.5  24.822862
9      18.9  18.530570
414     7.0  -6.865435
78     21.2  21.801723
323    18.5  19.225712
473    29.8  26.191920
124    18.8  20.277339
388    10.2   5.615964
195    50.0  40.448880
448    14.1  17.576959

In [96]:
from sklearn.metrics import r2_score

In [97]:
r2_score(y_test, y_pred) # воспользовался ресурсом https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html

0.7112260057484974

In [100]:
from sklearn.ensemble import RandomForestRegressor

In [102]:
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=2)

In [103]:
model.fit(X_train, y_train.values[:,0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=2)

In [104]:
y_pred = lr.predict(X_test)
y_pred.shape

(152, 1)

In [105]:
r2_score(y_test, y_pred)

0.7112260057484974

In [116]:
RandomForestRegressor

SyntaxError: invalid syntax (<ipython-input-116-edf9cb6576cf>, line 1)